#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    //zmk,matrix_transform = &default_transform;
    zmk,matrix_transform = &five_column_transform;
  };
};

/ {

// Define email macros
    macros {
        email1: email1 {
            compatible = "zmk,behavior-macro";
            label = "EMAIL_ONE";
            #binding-cells = <0>;
            // Replace with your actual email - example: yourname@gmail.com
            bindings = <&kp V &kp I &kp C &kp K &kp Y &kp DOT 
                        &kp C &kp H &kp U &kp Q &kp I &kp A &kp O &kp DOT 
                        &kp Y &kp A &kp N &kp G
                       &kp AT 
                       &kp G &kp M &kp A &kp I &kp L 
                       &kp DOT 
                       &kp C &kp O &kp M>;
        };
        
        email2: email2 {
            compatible = "zmk,behavior-macro";
            label = "EMAIL_TWO";
            #binding-cells = <0>;
            // Replace with your second email - example: work@company.com
            bindings = <&kp V &kp I &kp C &kp K &kp Y &kp DOT 
                        &kp S &kp E &kp R &kp E &kp N &kp D &kp I &kp P &kp I &kp T &kp Y
                       &kp AT 
                       &kp G &kp M &kp A &kp I &kp L 
                       &kp DOT 
                       &kp C &kp O &kp M>;
        };
        
        email3: email3 {
            compatible = "zmk,behavior-macro";
            label = "EMAIL_THREE";
            #binding-cells = <0>;
         
            bindings = <&kp C &kp H &kp U &kp Q &kp I &kp A &kp O &kp DOT
                        kp Y
                       &kp AT 
                       &kp G &kp M &kp A &kp I &kp L 
                       &kp DOT 
                       &kp C &kp O &kp M>;
        };
    
        
        
    };
    
    // Define combos for EMW and EMF
    combos {
        compatible = "zmk,combos";
        
        // Combo: E + M + W = Email 1
        combo_email1 {
            timeout-ms = <50>;
            key-positions = <17 15 1>;  // E, M, W positions
            bindings = <&email1>;
            layers = <0>;  // Only works on default layer
        };
        
        // Combo: E + M + F = Email 2
        combo_email2 {
            timeout-ms = <50>;
            key-positions = <17 15 2>;  // E, M, F positions
            bindings = <&email2>;
            layers = <0>;  // Only works on default layer
        };
        
         // Combo: E + M + P = Email 3
        combo_email3 {
            timeout-ms = <50>;
            key-positions = <17 15 3>;  
            bindings = <&email3>;
            layers = <0>;  // Only works on default layer
        };
    };


    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";
                
                default_layer {
                        label = "base";
                        bindings = <
   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp BSPC  
   &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O     
   &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp RET 
                  &kp LGUI &kp LSHFT &mo 1   &mo 2 &kp SPACE &kp RALT
                        >;
                };
                
              raise_layer {
                        label = "left";
                        bindings = <
   &kp HASH    &kp FSLH     &kp LEFT_BRACKET      &kp RIGHT_BRACKET       &kp STAR          &kp N1   &kp N2   &kp N3 &kp PLUS   &kp BSPC 
   &kp DOLLAR  &kp BSLH     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS   &kp MINUS         &kp N4   &kp N5   &kp N6 &kp EQUAL  &kp DOT 
   &kp PERCENT &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE         &kp UNDERSCORE    &kp N7   &kp N8   &kp N9 &kp N0     &kp RET 
                          	        &kp LCTRL     &kp LSHFT       &mo 1           &mo 2  &kp SPACE   &kp RALT
                        >;
                };
                
             lower_layer {
                        label = "right";
                        bindings = <
   &kp ESC  &kp AT     &kp QMARK  &kp DOUBLE_QUOTES  &kp GRAVE   &kp LG(MINUS)           &kp PG_UP        &kp UP       &kp PG_DN      &kp F3 
   &kp TAB  &kp AMPS   &kp EXCL   &kp SINGLE_QUOTE   &kp TILDE   &kp LG(EQUAL)           &kp LEFT      &kp DOWN     &kp RIGHT     &kp F3 
   &kp F3   &kp PIPE   &kp COLON  &kp SEMICOLON      &kp F3      &kp F9           &kp K_MUTE       &kp K_VOLUME_DOWN       &kp K_VOLUME_UP        &kp F7 
                          	        &kp LCTRL     &kp LSHFT       &mo 1           &mo 2  &kp SPACE   &kp RALT
                        >;
                };

              adjust_layer {
                        label = "adjust";
                        bindings = <
   &bt BT_CLR  &kp AT     &kp QMARK  &kp DOUBLE_QUOTES  &kp GRAVE                 &kp F3      &kp F3    &kp F3     &kp F3     &kp F3 
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4               &kp F3      &kp F3    &kp F3     &kp F3     &kp F3 
   &kp F3   &kp F3   &kp F3  &kp F3      &kp F3                                   &kp F3      &kp F3    &kp F3     &kp F3     &kp F3 
                          	        &kp LCTRL     &kp LSHFT       &mo 1           &mo 2  &kp SPACE   &kp RALT
                        >;
                };




        };
};
