#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    //zmk,matrix_transform = &default_transform;
    zmk,matrix_transform = &five_column_transform;
  };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";
                
                default_layer {
                        label = "base";
                        bindings = <
   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp BSPC  
   &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O     
   &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp RET 
                  &kp LGUI &kp LSHFT &mo 1   &mo 2 &kp SPACE &kp RALT
                        >;
                };
                
              raise_layer {
                        label = "left";
                        bindings = <
   &kp HASH    &kp FSLH     &kp LEFT_BRACKET      &kp RIGHT_BRACKET       &kp STAR          &kp N1   &kp N2   &kp N3 &kp PLUS   &kp BSPC 
   &kp DOLLAR  &kp BSLH     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS   &kp MINUS         &kp N4   &kp N5   &kp N6 &kp EQUAL  &kp DOT 
   &kp PERCENT &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE         &kp UNDERSCORE    &kp N7   &kp N8   &kp N9 &kp N0     &kp RET 
                          	        &kp LCTRL     &kp LSHFT       &mo 1           &mo 2  &kp SPACE   &kp RALT
                        >;
                };
                
             lower_layer {
                        label = "right";
                        bindings = <
   &kp ESC  &kp AT     &kp QMARK  &kp DOUBLE_QUOTES  &kp GRAVE   &kp LG(MINUS)           &kp PG_UP        &kp UP       &kp PG_DN      &kp F3 
   &kp TAB  &kp AMPS   &kp EXCL   &kp SINGLE_QUOTE   &kp TILDE   &kp LG(EQUAL)           &kp LEFT      &kp DOWN     &kp RIGHT     &kp F3 
   &kp F3   &kp PIPE   &kp COLON  &kp SEMICOLON      &kp F3      &kp F9           &kp K_MUTE       &kp K_VOLUME_DOWN       &kp K_VOLUME_UP        &kp F7 
                          	        &kp LCTRL     &kp LSHFT       &mo 1           &mo 2  &kp SPACE   &kp RALT
                        >;
                };

              adjust_layer {
                        label = "adjust";
                        bindings = <
   &bt BT_CLR  &kp AT     &kp QMARK  &kp DOUBLE_QUOTES  &kp GRAVE                 &kp F3      &kp F3    &kp F3     &kp F3     &kp F3 
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4               &kp F3      &kp F3    &kp F3     &kp F3     &kp F3 
   &kp F3   &kp F3   &kp F3  &kp F3      &kp F3                                   &kp F3      &kp F3    &kp F3     &kp F3     &kp F3 
                          	        &kp LCTRL     &kp LSHFT       &mo 1           &mo 2  &kp SPACE   &kp RALT
                        >;
                };




        };
};
